* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  background-image: url("./galaxy.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img[alt=earth] {
  width: 40rem;
}
.moon {
  background-color: transparent;
  position: absolute;
  width: 40rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: moon-rotation 30s linear infinite;
}
img[alt=moon] {
  width: 8rem;
  transform: translateY(-100%);
}
@keyframes moon-rotation {
  to {
    rotate: 360deg;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}