* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: #00b1d5;
  font-size: 3rem;
  width: 40rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1.4rem;
  box-shadow: 0px 0px 1px 0px;
}

.clock-point {
  width: 2rem;
  aspect-ratio: 1 / 1;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.clock-bar {
  height: 40%;
  width: 1.5rem;
  background-color: white;
  position: absolute;
  bottom: 50%;
  border-radius: 6px;
  animation: clock-animation 60s steps(60) infinite;
  transform-origin: bottom;
}

p {
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
}

.p-1 {
  top: 2rem;
  right: 7.6rem;
}

.p-2 {
  right: 2.4rem;
  top: 9.4rem;
}

.p-3 {
  right: .6rem;
}

.p-4 {
  right: 2.4rem;
  bottom: 9.4rem;
}

.p-5 {
  bottom: 2rem;
  right: 7.6rem;
}

.p-6 {
  bottom: .6rem;
}

.p-7 {
  bottom: 2rem;
  left: 7.6rem;
}

.p-8 {
  left: 2.4rem;
  bottom: 9.4rem;
}

.p-9 {
  left: .6rem;
}

.p-10 {
  left: 2.4rem;
  top: 9.4rem;
}

.p-11 {
  top: 2rem;
  left: 7.6rem;
}

.p-12 {
  top: .6rem;
}

@keyframes clock-animation {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 6px;
  }
}