* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: #00b1d5;
  font-size: 30px;
  width: 400px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 14px;
  box-shadow: 0px 0px 1px 0px;
}

.clock-point {
  width: 20px;
  aspect-ratio: 1 / 1;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.clock-bar {
  height: 40%;
  width: 15px;
  background-color: white;
  position: absolute;
  bottom: 50%;
  border-radius: 6px;
}

.box:hover .clock-bar {
  animation: clock-animation 60s steps(60) infinite;
  transform-origin: bottom;
}

p {
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
}

.p-1 {
  top: 20px;
  right: 76px;
}

.p-2 {
  right: 24px;
  top: 94px
}

.p-3 {
  right: 6px;
}

.p-4 {
  right: 24px;
  bottom: 94px;
}

.p-5 {
  bottom: 20px;
  right: 76px;
}

.p-6 {
  bottom: 6px;
}

.p-7 {
  bottom: 20px;
  left: 76px
}

.p-8 {
  left: 24px;
  bottom: 94px;
}

.p-9 {
  left: 6px;
}

.p-10 {
  left: 24px;
  top: 94px;
}

.p-11 {
  top: 20px;
  left: 76px;
}

.p-12 {
  top: 6px;
}

@keyframes clock-animation {
  to {
    transform: rotate(360deg);
  }
}